.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #09d3ac;
} */

.main-menu {
  /* margin: 0 auto; */
  height: 100vh;
  background-color: #eec191;
  
}

.main-menu-headings {
  font-family: 'Julius Sans One', sans-serif;

}

.greek {
  background-color: #eed491;
  height: 100vh;
  font-family: 'Vollkorn SC', serif;
}

.greek-font {
  font-family: 'Vollkorn SC', serif;
}

.parthenon {
  width: 25%;
}

.greek-img {
  width: 40%;
}
