/* * {
  border: solid red 1px;
} */

.App {
  text-align: center;
}

.header {
  padding: 10px;
  text-align: left;
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgb(108, 157, 130);
}

button {
  background-color: rgb(108, 157, 130);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

p {
  font-size: 20px;
}

.quiz-choice {
  background-size: 50px;
}

.quiz-choice:hover {
  background-color: #eec191;

  color: white;
}

button:hover {
  background-color: #eec191;
  color: white;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
  font-family: 'Julius Sans One', sans-serif;

}

.main-menu {
  /* margin: 0 auto; */
  height: 100vmax;
  background-color: #eec191;
  padding: 10px;
}

.main-menu-headings {
  font-family: 'Julius Sans One', sans-serif;

}

/* .culture-choices {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.culture-button {
  display: flex;
  flex-direction: column;
} */

.artifact {
  background-color: #eed491;
  height: 100vmax;
  font-family: 'Vollkorn SC', serif;
  padding: 10px;
}

.greek-font {
  font-family: 'Vollkorn SC', serif;
}

.culture-img {
  width: 25%;
}

.art-img {
  width: 40%;
  float: left;
  padding: 10px;
}

.art-text {
  margin: 10px;
}

.quiz {
  background-color: #eed491;
  height: 100vmin;
  font-family: 'Vollkorn SC', serif;
  padding: 10px;
}

.answer {
  background-color: #eed491;
  height: 100vmin;
  font-family: 'Vollkorn SC', serif;
  padding: 10px;
}

.complete {
  background-color: #eed491;
  height: 100vh;
  font-family: 'Vollkorn SC', serif;
  padding: 10px;
}

.not-found-img {
  width: 70%;
}

.footer {
  padding: 10px;
  text-align: right;
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgb(108, 157, 130);
}

@media only screen and (max-width: 736px) {
  .header {
    text-align: center;
  }
  .main-menu {
    height: 175vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .artifact {
    /* background-size: auto; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .art-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .main-menu {
    display: flex;
    flex-direction: column;
  }
  .culture-img {
    width: 90%;
  }
}

/* .App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #09d3ac;
} */